In [36]:
import pandas as pd
from  matplotlib import pyplot as plt
import numpy as np
import random
from collections import defaultdict

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
def create_random_vacancies(users, vacancies):
    top_n = defaultdict()
    for uid in users:
        vacancy_subset = random.sample(vacancies, 5)
        top_n[uid]=vacancy_subset
    return top_n

In [62]:
df_test = pd.read_csv('/content/drive/MyDrive/Hackaton 04.2023/df_test_list_top.csv')
df_cut = pd.read_csv('/content/drive/MyDrive/Hackaton 04.2023/Aggregated_data.csv',index_col=False)

In [34]:
cookie_id_num = df_test['cookie_id_num'].unique()
all_vacancies = df_cut['vacancy_id_num'].unique()

In [84]:
random_results = create_random_vacancies(list(cookie_id_num),list(all_vacancies))

In [85]:
random_df = pd.DataFrame(list(random_results.items()), columns=['cookie_id_num', 'vacancy_id_num'])
random_df.head(2)

                      cookie_id_num                            vacancy_id_num
0  00252da2760d4231b366d79eaf6a54a1  [134090, 178507, 153403, 226568, 181956]
1  0052234b5356480f9dff207888135548  [158633, 104800, 204710, 161005, 216210]

In [86]:
def precision(predictions,df_test_list_top, k=5):
  #recommendations num:
    n_rec_k = len(df_test_list_top)*k
  #true reccomendations:
    matches=0
    for row in range(len(predictions)):
      row_match = set(predictions['vacancy_id_num'][row]).intersection(set(df_test_list_top['vacancy_id_num'][row]))  
      matches += len(row_match)
  #Results:
    precisions = matches / n_rec_k if n_rec_k != 0 else 0
    return precisions

In [87]:
#df_test[0][1]=[257568, 172078, 122319, 218360, 137848]
#random_df.loc[0, 'vacancy_id_num'] = [257568, 172078, 122319, 218360, 137848]
precision(df_test,random_df)

0.0

In [100]:
test_5 = pd.read_parquet('/content/drive/MyDrive/Hackaton 04.2023/test_private_sample_submission_mfti.parquet', engine='pyarrow')
test_5.columns=['cookie_id_num','vacancy_id_num']
test_5

,cookie_id_num,vacancy_id_num
0,0018914ba3e54011b28fa715583d3354,"[100100, 100101, 100102, 100103, 100104]"
1,0035c298d8c64f368ae730a9cca9bb20,"[100100, 100101, 100102, 100103, 100104]"
2,00956458877448ec9fba87fb97443fdf,"[100100, 100101, 100102, 100103, 100104]"
3,0099387c921b41e7bae6c99dd8254b60,"[100100, 100101, 100102, 100103, 100104]"
4,009f65e8ae99413a8da94a491320580a,"[100100, 100101, 100102, 100103, 100104]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[100100, 100101, 100102, 100103, 100104]"
3082,ffbc08b528c64f22996873fc63872202,"[100100, 100101, 100102, 100103, 100104]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[100100, 100101, 100102, 100103, 100104]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[100100, 100101, 100102, 100103, 100104]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[100100, 100101, 100102, 100103, 100104]"

In [101]:
cookie_id_num = test_5['cookie_id_num'].unique()
random_results = create_random_vacancies(list(cookie_id_num),list(all_vacancies))
random_df = pd.DataFrame(list(random_results.items()), columns=['cookie_id_num', 'vacancy_id_num'])
random_df.head(2)

                      cookie_id_num                            vacancy_id_num
0  0018914ba3e54011b28fa715583d3354  [181692, 133391, 164580, 145794, 156685]
1  0035c298d8c64f368ae730a9cca9bb20  [149108, 155002, 216710, 195976, 241305]

In [102]:
precision(test_5,random_df)

0.00012961762799740766