# Загружаем библиотеки и датафрейм
---

In [1]:
import pandas as pd
import numpy as np

In [3]:

data = pd.read_parquet('train_mfti.parquet', engine='pyarrow')

In [2]:
test = pd.read_parquet('test_public_mfti.parquet', engine='pyarrow')

In [3]:
test.head()

,cookie_id,vacancy_id_
0,000cd76cd33f43d4a1ac1d16d10f8bf7,"[222177, 222173, 222163, 238874, 238878, 22812..."
1,0034bc7f404341ba8412665453e7825a,"[102794, 137587, 257319, 237756, 240744, 11348..."
2,00a6c5a64a274c55a836402bdeb3b2c4,"[254292, 164602, 116438, 228634, 218819, 24065..."
3,015937a125b14e74bdff1cddc49f9172,"[246685, 138123, 115420, 210628, 212325, 235196]"
4,01de50c280794cec8804f16f45f847b7,"[219070, 251469, 166899, 212703, 214561]"

In [4]:
test_list = list(test['cookie_id'])
print(test_list[:5])

['000cd76cd33f43d4a1ac1d16d10f8bf7', '0034bc7f404341ba8412665453e7825a', '00a6c5a64a274c55a836402bdeb3b2c4', '015937a125b14e74bdff1cddc49f9172', '01de50c280794cec8804f16f45f847b7']

In [6]:
test_values = list(test['vacancy_id_'])
print(test_values[:5])

[array([222177, 222173, 222163, 238874, 238878, 228125, 225604, 235544,
       119314], dtype=int64), array([102794, 137587, 257319, 237756, 240744, 113482, 240245, 221376,
       242642, 235561, 191512, 222762, 231446, 109269, 205578],
      dtype=int64), array([254292, 164602, 116438, 228634, 218819, 240655, 240659, 237341,
       176563, 255299, 245637, 109275, 111505, 212953, 217549, 207108,
       200475, 211355, 211449, 108956, 111071, 253239, 109649, 221735,
       222030, 222174, 231207, 231022, 234380, 106944, 203948, 175325,
       193534, 197505, 234769, 238933, 225709, 184466, 242642, 203015],
      dtype=int64), array([246685, 138123, 115420, 210628, 212325, 235196], dtype=int64), array([219070, 251469, 166899, 212703, 214561], dtype=int64)]

In [4]:
df = data.copy()

In [5]:
df['Rating'] = df['event_type'].map({'show_vacancy': 1,
                                     'preview_click_vacancy': 2,
                                     'click_favorite': 3,
                                     'preview_click_favorite': 4,
                                     'click_response': 5,
                                     'preview_click_response': 6,
                                     'click_contacts': 7,
                                     'preview_click_contacts': 8,
                                     'click_phone': 9,
                                     'preview_click_phone': 10})

In [5]:
df['rating'] = df['event_type'].map({'show_vacancy': 0,
                                     'preview_click_vacancy': 0,
                                     'click_favorite': 0,
                                     'preview_click_favorite': 0,
                                     'click_response': 1,
                                     'preview_click_response': 1,
                                     'click_contacts': 1,
                                     'preview_click_contacts': 1,
                                     'click_phone': 1,
                                     'preview_click_phone': 1})

In [6]:
df['Ragister'] = df['user_id'].apply(lambda x: 0 if x == None else 1)

In [7]:
df.head()

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,rating,Ragister
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy,0,1
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0,1
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0,1
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0,1
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0,1

In [50]:
df_cut = df.groupby(['cookie_id','vacancy_id_'])['event_timestamp', 'Ragister','Rating'].max().reset_index()

C:\Users\pavel\AppData\Local\Temp\ipykernel_1460\2450100794.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_cut = df.groupby(['cookie_id','vacancy_id_'])['event_timestamp', 'Ragister','Rating'].max().reset_index()

In [54]:
df_cut.tail()

,cookie_id,vacancy_id_,event_timestamp,Ragister,Rating
4678580,ffffdb17f45b4032b386d691d52e6c00,107125,1661164632,0,6
4678581,ffffdb17f45b4032b386d691d52e6c00,107893,1661154433,0,7
4678582,ffffdb17f45b4032b386d691d52e6c00,150843,1661154393,0,7
4678583,ffffdb17f45b4032b386d691d52e6c00,160164,1661164755,0,7
4678584,ffffdb17f45b4032b386d691d52e6c00,185412,1661165552,0,6

In [48]:
df_cut.head()

                          cookie_id  vacancy_id_  Rating
0  0000c4548c3944c08972bbdc1fa4eb85       137659       1
1  0000c4548c3944c08972bbdc1fa4eb85       153975       1
2  0000c4548c3944c08972bbdc1fa4eb85       174953       2
3  0000c4548c3944c08972bbdc1fa4eb85       176171       1
4  0000c4548c3944c08972bbdc1fa4eb85       182445       1

* 1 show_vacancy - просмотр вакансии
* 2 preview_click_vacancy - клик по карточке вакансии
* 3 click_response - отклик со страницы вакансии
* 4 preview_click_response - отклик с карточки вакансии
* 5 click_favorite - добавление вакансии в избранное  со страницы вакансии
* 6 preview_click_favorite - добавление вакансии в избраное с карточки вакансии
* 7 click_contacts - клик на контакты со страницы вакансии
* 8 preview_click_contacts - клик на контакты из карточки вакансии
* 9 click_phone - клик на номер телефона, указанный в вакансии
* 10 preview_click_phone - клик на номер телефона из карточки вакансии

Жирным выделены искомые ""откликнется"" и ""позвонит"""

In [5]:
df.head()

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,Rating
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy,0
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   event_date       object
 1   event_timestamp  int64
 2   vacancy_id_      int64
 3   cookie_id        object
 4   user_id          object
 5   event_type       object
 6   Rating           int64
dtypes: int64(3), object(4)
memory usage: 656.5+ MB

Начинаем преобразовывать характеристики

In [7]:
df['vacancy_id_num'] = df['vacancy_id_'].astype('int64')

In [8]:
df['cookie_id_num'] = df['cookie_id'].astype('category').cat.codes
df['user_id_num'] = df['user_id'].astype('category').cat.codes

In [29]:
# можно записать что бы потом не кликать
df.to_parquet('df_parquet')

In [35]:
df.columns

Index(['event_date', 'event_timestamp', 'vacancy_id_', 'cookie_id', 'user_id',
       'event_type', 'Rating', 'Ragister'],
      dtype='object')

СОЗДАЕМ таблицы для обучения
---

In [12]:
# Только числовые значения 
df_math = df[['cookie_id_num', 'vacancy_id_num', 'Rating']] # проверял пока только эту

In [11]:
df_cut.to_parquet('df_cut.paruet')

In [13]:
# все значения в изначальном варианте
df_str = df[['cookie_id', 'vacancy_id_', 'Rating']]

In [11]:
df_str.to_parquet('df_str.paruet')

In [55]:
# видел что время оч влияет и с ним обучаются - пока не тестил
df_time = df_cut[['cookie_id', 'vacancy_id_', 'Ragister', 'Rating', 'event_timestamp']]

In [56]:
df_time.to_parquet('df_time.paruet')

In [40]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   cookie_id        object
 1   vacancy_id_      int64
 2   Ragister         int64
 3   Rating           int64
 4   event_timestamp  int64
dtypes: int64(4), object(1)
memory usage: 468.9+ MB

In [15]:
df_math_time = df[['cookie_id_num', 'vacancy_id_num', 'Rating', 'event_timestamp']]

In [16]:
df_str_time = df[['cookie_id', 'vacancy_id_', 'Rating', 'event_timestamp']]

А теперь сокращаем данные

---

In [17]:
df_cut_math = df_math.groupby(['cookie_id_num','vacancy_id_num'])['Rating'].max().reset_index()

In [20]:
df_cut_math.to_parquet('df_cut_math.parquet')

In [19]:
df_cut_str = df_str.groupby(['cookie_id','vacancy_id_'])['Rating'].max().reset_index()

In [21]:
df_cut_str.to_parquet('df_cut_str.parquet')