In [1]:
import pandas as pd

In [2]:

data = pd.read_parquet('train_mfti.parquet', engine='pyarrow')

In [3]:
df = data.copy()

In [5]:
df.describe(include='object')

,event_date,cookie_id,user_id,event_type
count,12292588,12292588,8711177,12292588
unique,62,330180,209335,10
top,2022-09-05,924398d361a0454c8c30845c2b4c5747,4185734babb340cb84dcfa8241a9766d,show_vacancy
freq,292929,4898,4898,6198889

In [4]:
df['event_time'] = pd.to_datetime(df['event_timestamp'], unit='s')

In [5]:
df.head(10)

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,event_time
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy,2022-08-01 03:03:46
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 18:07:35
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:58:15
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:58:42
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:28:49
5,2022-08-01,1659374849,253833,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:27:29
6,2022-08-01,1659373579,258441,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:06:19
7,2022-08-01,1659374336,258441,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:18:56
8,2022-08-01,1659373618,102914,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 17:06:58
9,2022-08-01,1659377086,108010,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,2022-08-01 18:04:46

In [6]:
df = df[['event_date', 'event_time', 'event_timestamp', 'vacancy_id_', 'cookie_id', 'user_id', 'event_type']]

In [13]:
df.head()

,event_date,event_time,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-01,2022-08-01 03:03:46,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1,2022-08-01,2022-08-01 18:07:35,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
2,2022-08-01,2022-08-01 17:58:15,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
3,2022-08-01,2022-08-01 17:58:42,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
4,2022-08-01,2022-08-01 17:28:49,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   event_date       object
 1   event_time       datetime64[ns]
 2   event_timestamp  int64
 3   vacancy_id_      int64
 4   cookie_id        object
 5   user_id          object
 6   event_type       object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 656.5+ MB

In [15]:
df.isnull().sum()

event_date               0
event_time               0
event_timestamp          0
vacancy_id_              0
cookie_id                0
user_id            3581411
event_type               0
dtype: int64

In [13]:
df.describe(include=['object'])

,event_date,cookie_id,user_id,event_type
count,12292588,12292588,8711177,12292588
unique,62,330180,209335,10
top,2022-09-05,924398d361a0454c8c30845c2b4c5747,4185734babb340cb84dcfa8241a9766d,show_vacancy
freq,292929,4898,4898,6198889

In [9]:
df['event_type'].value_counts()

show_vacancy              6198889
preview_click_vacancy     4781280
click_response             384090
click_contacts             277584
preview_click_response     190635
click_favorite             155844
preview_click_favorite     107016
preview_click_contacts     102050
click_phone                 79191
preview_click_phone         16009
Name: event_type, dtype: int64

* 1 show_vacancy - просмотр вакансии
* 2 preview_click_vacancy - клик по карточке вакансии
* 3 click_response - отклик со страницы вакансии
* 4 preview_click_response - отклик с карточки вакансии
* 5 click_favorite - добавление вакансии в избранное  со страницы вакансии
* 6 preview_click_favorite - добавление вакансии в избраное с карточки вакансии
* 7 click_contacts - клик на контакты со страницы вакансии
* 8 preview_click_contacts - клик на контакты из карточки вакансии
* 9 click_phone - клик на номер телефона, указанный в вакансии
* 10 preview_click_phone - клик на номер телефона из карточки вакансии

Жирным выделены искомые ""откликнется"" и ""позвонит"""

In [7]:
df[df['user_id'] == '951f53de61764ea0b51317200a0dbbfc'].sort_values('vacancy_id_')

,event_date,event_time,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
1484065,2022-08-08,2022-08-08 13:15:31,1659964531,100315,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_vacancy
11994477,2022-08-08,2022-08-08 13:16:49,1659964609,100315,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_favorite
1341299,2022-08-08,2022-08-08 13:15:31,1659964531,100315,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
11237771,2022-08-22,2022-08-22 08:16:51,1661156211,104757,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,click_favorite
3349944,2022-08-22,2022-08-22 08:14:50,1661156090,104757,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
...,...,...,...,...,...,...,...
1341450,2022-08-08,2022-08-08 07:36:55,1659944215,259452,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1341430,2022-08-08,2022-08-08 12:16:53,1659961013,259531,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
11374756,2022-08-08,2022-08-08 12:16:58,1659961018,259531,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,click_favorite
1484039,2022-08-08,2022-08-08 12:15:29,1659960929,259531,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_vacancy
1341431,2022-08-08,2022-08-08 12:15:29,1659960929,259531,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy

In [10]:
pd.set_option('display.max_rows', 150)

In [23]:
df[(df['user_id'] == '951f53de61764ea0b51317200a0dbbfc') & (df['vacancy_id_'] == 106933)].sort_values('event_timestamp')

,event_date,event_time,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
1341372,2022-08-08,2022-08-08 13:57:18,1659967038,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1484032,2022-08-08,2022-08-08 13:57:18,1659967038,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_vacancy
1341445,2022-08-08,2022-08-08 13:58:23,1659967103,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
11692192,2022-08-08,2022-08-08 13:58:24,1659967104,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,click_response
1341448,2022-08-08,2022-08-08 13:59:16,1659967156,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1341446,2022-08-08,2022-08-08 14:00:28,1659967228,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1341444,2022-08-08,2022-08-08 14:00:52,1659967252,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1484033,2022-08-08,2022-08-08 14:00:52,1659967252,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_vacancy
11374754,2022-08-08,2022-08-08 14:00:58,1659967258,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,click_favorite
1341447,2022-08-08,2022-08-08 14:01:22,1659967282,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
2305503,2022-08-15,2022-08-15 10:28:40,1660559320,106933,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy

In [11]:
df[df['vacancy_id_'] == 142236]

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
234713,2022-08-02,1659435430,142236,381e2b50080f433ea71ec1c6ffa6f362,3289165c75e748e699e3771d472a7532,show_vacancy
252893,2022-08-02,1659435430,142236,381e2b50080f433ea71ec1c6ffa6f362,3289165c75e748e699e3771d472a7532,preview_click_vacancy
343275,2022-08-02,1659425536,142236,513735b8adbe41c096d54b6e162fd5e1,cd88adf7bdcf4bbdb4eeb95de61b33d0,preview_click_vacancy
343293,2022-08-02,1659460027,142236,e49420d1708143aeb26e63b44b5d2a37,2ee179ffd91e4e57ae8e23fb8a35610e,preview_click_vacancy
408165,2022-08-02,1659425536,142236,513735b8adbe41c096d54b6e162fd5e1,cd88adf7bdcf4bbdb4eeb95de61b33d0,show_vacancy
408166,2022-08-02,1659460027,142236,e49420d1708143aeb26e63b44b5d2a37,2ee179ffd91e4e57ae8e23fb8a35610e,show_vacancy
664733,2022-08-04,1659615957,142236,1ec562e218254f1a865378f4ac7de62c,None,show_vacancy
701946,2022-08-04,1659615957,142236,1ec562e218254f1a865378f4ac7de62c,None,preview_click_vacancy
857194,2022-08-05,1659650972,142236,ad497568b65d4155a30e6dd6644bb74f,8aeda69829424c68a1903d633f6f9253,preview_click_vacancy
919606,2022-08-05,1659650972,142236,ad497568b65d4155a30e6dd6644bb74f,8aeda69829424c68a1903d633f6f9253,show_vacancy
1010394,2022-08-06,1659814668,142236,25b0d317db354196935b313a0588fdc5,3f27bc1d54d04b818577fa3f89ee5a42,show_vacancy
1058143,2022-08-06,1659814668,142236,25b0d317db354196935b313a0588fdc5,3f27bc1d54d04b818577fa3f89ee5a42,preview_click_vacancy
1323263,2022-08-08,1659960911,142236,be530611d90e42b79d4d4d932c9d8aed,d2c195b7d85b4b538025271d7ddcd658,show_vacancy
1341423,2022-08-08,1659957068,142236,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1484044,2022-08-08,1659957068,142236,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_vacancy
1495459,2022-08-08,1659960911,142236,be530611d90e42b79d4d4d932c9d8aed,d2c195b7d85b4b538025271d7ddcd658,preview_click_vacancy
1805968,2022-08-10,1660159640,142236,44f5086cc34d4c448dd2a4c18f983428,3e47c53eaa684d2b8424cc01a2e97958,show_vacancy
2021553,2022-08-11,1660239282,142236,f989c55c3c23457bb12d0e73e9e8abd2,None,preview_click_vacancy
2384889,2022-08-16,1660644753,142236,41577262d99a43eb82378aea04b5418b,ed40f44ce3ac4b7a97af09e127f510ba,preview_click_vacancy
2482147,2022-08-16,1660644753,142236,41577262d99a43eb82378aea04b5418b,ed40f44ce3ac4b7a97af09e127f510ba,show_vacancy
3032052,2022-08-20,1661012573,142236,d0013ae3c5b94adbbe04b69274651a1e,None,show_vacancy
3041460,2022-08-20,1661012572,142236,d0013ae3c5b94adbbe04b69274651a1e,None,preview_click_vacancy
3144340,2022-08-21,1661088556,142236,a562352af85f461683fbd032d1eb0489,15e4fb253cf1465e9ea41e59b32ea561,preview_click_vacancy
3157819,2022-08-21,1661088556,142236,a562352af85f461683fbd032d1eb0489,15e4fb253cf1465e9ea41e59b32ea561,show_vacancy
3159699,2022-08-21,1661073773,142236,1ee396ef865a41439292cbf75fa6b334,197011d22c444ad787c121c1f6f37eb1,preview_click_vacancy
3171415,2022-08-21,1661073774,142236,1ee396ef865a41439292cbf75fa6b334,197011d22c444ad787c121c1f6f37eb1,show_vacancy
3185916,2022-08-21,1661092549,142236,fc51f0a767f943ffb641d6a072c42a7c,1221f7ff3d7a45fcabcb46a51c108a31,preview_click_vacancy
3237932,2022-08-21,1661092549,142236,fc51f0a767f943ffb641d6a072c42a7c,1221f7ff3d7a45fcabcb46a51c108a31,show_vacancy
11226201,2022-08-21,1661092572,142236,fc51f0a767f943ffb641d6a072c42a7c,1221f7ff3d7a45fcabcb46a51c108a31,click_response
11373371,2022-08-21,1661088600,142236,a562352af85f461683fbd032d1eb0489,15e4fb253cf1465e9ea41e59b32ea561,click_response
11666474,2022-08-02,1659435486,142236,381e2b50080f433ea71ec1c6ffa6f362,3289165c75e748e699e3771d472a7532,click_response
11994478,2022-08-08,1659957182,142236,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,preview_click_favorite

In [11]:
df['cookie_id'].value_counts()

924398d361a0454c8c30845c2b4c5747    4898
7d8cc5a0fef44378a2d90a237cda288e    3343
5934d5b8a0b348829d8efabe69c733eb    3315
b7dd2f20fdd6472ab62f8d86a739cd5d    3312
353b56c4fa6447d0ba0f08b42d86e51f    2795
                                    ...
1b4240c448df47f29e00ef38b8215ea2       5
99c776f7ff1d4e73919342365bc0de0a       5
f84c882a92d74646bfc6eb4447b11d3c       5
9b86c05707bc43d19dfaf60563627c2d       5
694ea921f0d14d56853bf9856866110d       5
Name: cookie_id, Length: 330180, dtype: int64

In [5]:
df['vacancy_id_'].value_counts()

260154    59105
198114    50187
203404    45634
202608    41620
116823    40023
          ...
208174        1
207219        1
208297        1
207097        1
136818        1
Name: vacancy_id_, Length: 160167, dtype: int64

In [6]:
df_val = pd.read_parquet('test_public_mfti.parquet')

In [7]:
df_val.head(5)

,cookie_id,vacancy_id_
0,000cd76cd33f43d4a1ac1d16d10f8bf7,"[222177, 222173, 222163, 238874, 238878, 22812..."
1,0034bc7f404341ba8412665453e7825a,"[102794, 137587, 257319, 237756, 240744, 11348..."
2,00a6c5a64a274c55a836402bdeb3b2c4,"[254292, 164602, 116438, 228634, 218819, 24065..."
3,015937a125b14e74bdff1cddc49f9172,"[246685, 138123, 115420, 210628, 212325, 235196]"
4,01de50c280794cec8804f16f45f847b7,"[219070, 251469, 166899, 212703, 214561]"

In [12]:
# вот в таком формате мы должны сдать ответ
df1 = pd.read_parquet('test_private_sample_submission_mfti.parquet')

In [14]:
df1.head(10)

                          cookie_id                               predictions
0  0018914ba3e54011b28fa715583d3354  [100100, 100101, 100102, 100103, 100104]
1  0035c298d8c64f368ae730a9cca9bb20  [100100, 100101, 100102, 100103, 100104]
2  00956458877448ec9fba87fb97443fdf  [100100, 100101, 100102, 100103, 100104]
3  0099387c921b41e7bae6c99dd8254b60  [100100, 100101, 100102, 100103, 100104]
4  009f65e8ae99413a8da94a491320580a  [100100, 100101, 100102, 100103, 100104]
5  00f7c31a13134b9ab2d5882e35acc800  [100100, 100101, 100102, 100103, 100104]
6  00ff40eaf05f48b2b36b9fd012bda73a  [100100, 100101, 100102, 100103, 100104]
7  010cc628bc0c4c9ab947fe1b58395e86  [100100, 100101, 100102, 100103, 100104]
8  010e482c3f9b4d6da4d91c0e68d22def  [100100, 100101, 100102, 100103, 100104]
9  012638bfbbfd42f98d034ce0ffd1c27f  [100100, 100101, 100102, 100103, 100104]

In [4]:
# это те данные которые мы должны передать в модель и получить свои ответы
df3 = pd.read_parquet('test_private_users_mfti.parquet')

In [5]:
df3.head()

                          cookie_id
0  0018914ba3e54011b28fa715583d3354
1  0035c298d8c64f368ae730a9cca9bb20
2  00956458877448ec9fba87fb97443fdf
3  0099387c921b41e7bae6c99dd8254b60
4  009f65e8ae99413a8da94a491320580a